/* GENERAL */

/* HEADER */

header {
  background-color: #df7a48;
  display: flex;
  justify-content: ;
}

.logo {
  color: black;
}

nav {
  display: flex;

  flex: 1 1 200px;
}

nav a {
  color: rgb(42, 65, 240);
  text-decoration: none;
  flex: 1 1 200px;
}

.nav-link {
  padding: 10px 20px;
  background-color: white;
  transition: 0.3s;
}

/* HERO */

/* INFORMATION */

/* QUOTE */

/* CALL TO ACTION */

/* FOOTER */
